body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: darkgreen;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 200px;
  border-radius: 10px;
}
.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #0b3d2e;
  color: white;
  padding: 20px;
}

.sidebar button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f5f5f5;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
